@page "/"

<EditForm Model="testClass">
    <div class="row">
        <div class="col-12">
            <DxTextBox @ref="testDxTextBox"
                       @bind-Text="@testClass.TestValue" 
                       BindValueMode="BindValueMode.OnLostFocus"
                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"/> 
        </div>
    </div>
</EditForm>
<p>@testClass.TestValue</p>
@code
{
    DxTextBox testDxTextBox;
    private class TestClass
    {
        public string TestValue { get; set; } = "Hi Bill";
    }
    TestClass testClass = new TestClass();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();

            await testDxTextBox.FocusAsync();
        }
    }
}
