@page "/"

<EditForm Model="testClass">
    <div class="row">
        <div class="col-12">
            <input type="text" @ref="inputTextRef" />
        </div>
    </div>
</EditForm>
@code
{
    ElementReference inputTextRef;
    private class TestClass
    {
        public string TestValue { get; set; } = "Hi Bill";
    }
    TestClass testClass = new TestClass();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();

            await inputTextRef.FocusAsync();
        }
    }
}
